* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}

html {
  font-size: 62.3%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html ::-webkit-scrollbar-track {
  width: 0.8em;
}
html ::-webkit-scrollbar-tumb {
  background: #ffffff;
}
html ::-webkit-scrollbar-thumb {
  background: #7b4bb7;
}

body {
  background: #0c0016;
  scroll-behavior: smooth;
}

span .text-multiple {
  color: #be92f8;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2em 9%;
  background: #100025;
  filter: drop-shadow(0 0 0.75rem #dcc4fa);
  display: flex;
  justify-content: space-between;
  align-content: center;
  z-index: 100;
}

.logo {
  font-size: 3rem;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5 ease;
  /* navbar */
}
.logo ::heaver {
  transform: scale(1.1);
}

.navbar a {
  font-size: 1.8rem;
  color: #fff;
  margin-left: 4em;
  font-weight: 500;
  transition: 0.3 ease;
  border-bottom: 5px solid transparent;
}
.navbar ::hover {
  color: #fff;
}

@media (max-width: 995px) {
  #menu-icon {
    display: block;
  }
}
.navbar a {
  font-size: 1.8rem;
  color: #fff;
  margin-left: 4em;
  font-weight: 500;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  border-bottom: 5px solid transparent;
  position: relative;
  text-decoration: none;
}
.navbar a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.navbar a:hover,
.navbar a.hover {
  color: #fff;
}

.navbar a:hover::after,
.navbar a.hover::after {
  background-color: #fff;
}
.navbar a:hover::after::after,
.navbar a.hover::after::after {
  background-color: #fff;
}

section {
  min-height: 100vh;
  padding: 5rem 9% 5rem;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background: rgba(27, 1, 49, 0.5568627451);
}

.home .home-content {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3;
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: #fff;
}
span {
  color: #fff;
}

.home-img {
  border-radius: 50%;
}
.home-img img {
  position: relative;
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px;
  cursor: pointer;
}
.home-img img :hover {
  transform: scale(1.01);
  filter: drop-shadow(0 0 25 px, #be92f8);
}

.social-incon a {
  display: flex;
  margin: 8px;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid #6f00ff;
  font-size: 2rem;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}
.social-incon a :hover {
  color: #fff;
  transform: scale(1.3) translateY(-5px);
  background: c8b6ff;
  box-shadow: 0 0 50px #1942f7;
}

.zoom-effect :hover {
  transform: scale(1.3) translateY(-5px);
}

.zoom-effect2 :hover {
  transform: scale(1.1) translateY(-5px);
}

.id_skills {
  background-color: rgba(27, 1, 49, 0.5568627451);
  filter: drop-shadow(0 0 1.75rem rgba(110, 3, 197, 0.7529411765));
}

.container h1 {
  display: flex;
  justify-content: center;
}

.content-skills img {
  width: 150px;
  margin-left: 8rem;
  margin-top: 2rem;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.content-BTS-CERTIF {
  background-color: white;
  border: 2px solid #400291;
  box-shadow: 0 0 15px #7645b3;
  width: 65%;
  margin: 10px auto;
  padding: 40px;
  display: flex;
}

.margin {
  margin-top: 60px;
}

.grid-certification {
  flex-grow: 1;
}
.grid-certification img {
  display: inline-flex;
  margin: 0 auto 10px;
  width: 150px;
  margin-right: 20px;
}

.text-right {
  margin-left: 60px;
}
.text-right h1 {
  font-size: 25px;
  color: red;
  width: 300px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.text-right p {
  margin: 2px;
  font-size: 20px;
}

.text-right h3 {
  margin-top: 50px;
  font-size: 25px;
  color: red;
  width: 300px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.liens-color {
  color: #0d47a1;
}
.liens-color p {
  font-size: 20px;
}
.liens-color :hover {
  color: black;
}

.liens-color p {
  margin-top: 25px;
  margin-left: 40px;
}

.title h1 {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 7em;
}

.container-Entreprise {
  display: flex;
  background-color: #d4bcf1;
  border: 2px solid #400291;
  box-shadow: 0 0 15px #7645b3;
  width: 65%;
  margin: 0 auto;
  padding: 40px;
}
.container-Entreprise img {
  display: inline-flex;
  align-items: center;
  justify-content: start;
  width: 400px;
}
.container-Entreprise p {
  text-align: center;
  margin-left: 50px;
  font-size: 25px;
}

.container-Duree {
  display: flex;
  background-color: #d4bcf1;
  border: 2px solid #400291;
  box-shadow: 0 0 15px #7645b3;
  width: 70%;
  margin: 0 auto;
  padding: 40px;
  display: flex;
}
.container-Duree img {
  width: 400px;
  align-self: flex-end;
  margin-top: auto;
}
.container-Duree p {
  margin: 60px;
  text-align: center;
  margin-left: 50px;
  font-size: 25px;
}

.zoom-effect3 :hover {
  transform: scale(1) translateY(-1px);
}

.informations p {
  color: blue;
  font-size: 2em;
  margin: 10px;
  display: flex;
  justify-content: flex-end;
}
.informations p:hover {
  color: black;
}

.content-BTS-PROJETS {
  margin-top: 15%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.container-projet img {
  margin-left: 100px;
  width: 20%;
  box-shadow: 12px 12px 2px 1px rgba(102, 102, 219, 0.2);
  transition: transform 0.3s ease;
}
.container-projet img:hover {
  transform: scale(1.1) translateY(-1px);
}/*# sourceMappingURL=style.css.map */